<p>
  Matches Work!
</p>
<button (click)="setNewDetails()" routerLink="newMatch">new match</button>
<br>
<br>
<br>
<h4>list of matches</h4>
<div class="container" >
  <table class="table" style="width:50%;position:relative;float:left;">
    <thead>
      <tr>
        <th scope="col">players</th>
        <th scope="col">sets:</th>
        <th scope="col">1:</th>
        <th scope="col">2:</th>
        <th scope="col">3:</th>
        <th scope="col">4:</th>
        <th scope="col">5:</th>
      </tr>
    </thead>
    <tbody>
      <!--<tr *ngFor="let player of players" [routerLink]="[player._id]">-->
      <tr  style="border-top:2pt solid white;border-bottom:2pt solid white;">
        <p><br></p>
      </tr>
      <tr (click)="getMatchDetails(match)" *ngFor="let match of matches" style="border-top:2pt solid white;border-bottom:2pt solid white;">
        
        <td >
          <table>
            <tr><td>{{match.player1name}}</td></tr>
            <tr><td>{{match.player2name}}</td></tr>
          </table>
        </td>
        <td>
        </td>
        <td>
          <table>
            <tr><td>{{match?.player1points[0]}}</td></tr>
            <tr><td>{{match?.player2points[0]}}</td></tr>
          </table>
        </td>
        <td>
          <table>
            <tr><td>{{match?.player1points[1]}}</td></tr>
            <tr><td>{{match?.player2points[1]}}</td></tr>
          </table>
        </td>
        <td>
          <table>
            <tr><td>{{match?.player1points[2]}}</td></tr>
            <tr><td>{{match?.player2points[2]}}</td></tr>
          </table>
        </td>
        <td>
          <table>
            <tr><td>{{match?.player1points[3]}}</td></tr>
            <tr><td>{{match?.player2points[3]}}</td></tr>
          </table>
        </td>
        <td>
          <table>
            <tr><td>{{match?.player1points[4]}}</td></tr>
            <tr><td>{{match?.player2points[4]}}</td></tr>
          </table>
        </td>


      </tr>
    </tbody>
  </table>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>