<!--*ngIf="isDataLoaded"-->
<div style="width:50%;position:relative;float:left;" >
  <div>
    <form style="margin:0 auto;display:table">
      <div class="form-group">
        <h4>name:</h4>
        <input type="text" value="{{isDataLoaded ? player.name : player.name}}">
        <h4>sets won:</h4>
        <input type="number" disabled="true" value=30>
        <h4>matches won:</h4>
        <input type="number" disabled="true" value=5>
        <button type="button" (click)="gurni()">gurni</button>
      </div>
    </form>
  </div>
</div>

