<!--*ngIf="isDataLoaded"-->
<div style="width:50%;position:relative;float:left;" >
  <div style="margin:0 auto;display:table">
    <form>
      <div class="form-group">
        <h4>name:</h4>
        <!--<input type="text" [value]="isDataLoaded && formType === 2 ? player.name : ''">-->
        <input type="text" [(ngModel)]="player.name" name="playerName">
        <h4>sets won:</h4>
        <input type="number" disabled="true" value=30>
        <h4>matches won:</h4>
        <input type="number" disabled="true" value=5>
        {{formType}}
      </div>
    </form>
    <button type="button" (click)="gurni()" [disabled]="formType === 1 ? false : true">Submit</button>
  </div>
</div>

