<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">PingPongToolkit</a>

  <div class="collapse navbar-collapse" id="navbarColor01">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="players">Players</a>
      </li>
    </ul>
  </div>
</nav>
<div style="text-align:center">
  <h1>
    PingPongToolkit
  </h1>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>