<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<p>
  players works!
</p>
<button (click)="setNewDetails()" routerLink="newPlayer">new player</button>
<br>
<br>
<br>
<h4>list of players</h4>
<div class="container" >
  <table class="table" style="width:50%;position:relative;float:left;">
    <thead>
      <tr>
        <th scope="col">player name</th>
        <th scope="col" (click)="sortBySetsWon()"><i class="fas fa-arrows-alt-v"></i> sets won</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players"  (click)="getPlayerDetails(player)">
        <td>{{player.name}}</td>
        <td>{{player.setsWon}}</td>
      </tr>
    </tbody>
  </table>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>



<!--<a class="nav-link" routerLink="players">Players</a>
<a class="nav-link" routerLink="players">Players</a>-->
